:root{
    --white-color:#fff;
    --black-color: #000;
    --text-color:#333;
    --primary-color:#EE4D2D;
    --border-color: #dbdddb;
    --star-gold-color:#FFCE3E;
    --header-height:120px;
    --navbar-height:30px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

*{
    box-sizing: inherit;
}

html{
    margin: 0px;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    box-sizing: border-box;
}
body{
    margin: 0;
}

/* Responsive */
.grid{
    width: 1700px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* Test */

.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
    
}
.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
    
}

.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}

@keyframes fadeIn {
    from{
        opacity: 0.6;
    }
    to{
        opacity: 1;
    }
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Modal */

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;

}
.modal__overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.25) ;
    
}
.modal__content{
    margin: auto;
    z-index: 1;
}

/* Button style */
.btn{
    min-width: 142px;
    height: 40px;
    border: none;
    border-radius: 3px;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: var(--white-color);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn--size-s{
    height: 32px;
}

.btn.btn--normal:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
    /* margin-left: 10px; */
}

.auth-form--socials-icon{
    font-size: 23px;
    margin-right: 20px;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;

}
.pagination-item{
    list-style: none;
    margin: 0 8px ;
}
.pagination-item__link.pagination-item--active{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.pagination-item__link.pagination-item--active:hover {
    background-color: #ed5c3f;
    
}
.pagination-item__link{
    display: block;
    text-decoration: none;
    color: #939393;
    font-size: 1.9rem;
    font-weight: 400;
    --height: 30px;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
    border-radius:2px;
}
.footer{
    border-top: 4px solid var(--primary-color);
    padding-top: 20px;
}
.footer__heading{
    text-transform: uppercase;
    color: #4d4949;
    font-size: 1.4rem;
}
.footer__item{
    padding-left: 0;
}
.footer__item-list{
    list-style: none;
    margin: 10px 0 10px 0;
} 
.footer__item-link{
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.footer__item-link:hover{
    color: var(--primary-color);
}
.footer__item-icon{
    font-size: 1.8rem;
    margin-right: 8px;
}
.footer__download{
    display: flex;
}
.footer__download-qr{
    width: 80px;
    height: 80px;
    border: 2px solid var(--border-color);
} 
.footer__download-apps{
    flex: 1;
    margin:2px 0 2px 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 
.footer__download-apps-link{
    text-decoration: none;
    color: transparent;
    margin: 4px 0;
}
.footer__download-apps-img{
    height: 30px;
    display: block;
}
.footer-copyright{
    background-color: #f5f5f5;
    padding: 15px 0;
    margin-top: 40px;
}
.footer__text{
   text-align: center;
   margin: 0;
   color: #737373;
   font-size: 1.2rem;
}